<div class="form">
<h2>Create New Bar Crawl</h2>

<div class="map">
  <%render partial: "layouts/google_map"%>
</div>


		<h1>Bars near you!</h1>
		<table class="table">
						<thead>
							<tr>
								<td><b>Name</b></td>
								<td><b>Address</b></td>
						</thead>
						<%- @spots.each do |spot| %>
						<tbody>
				
							<tr>
								<td><%= spot.name %></td>
								<td><%= spot.formatted_address %></td>
							</tr>
				
						</tbody>
						<%end%>
				
				</table>

</div>