/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
	position:relative;
	z-index:0;
	min-width: 1200px;
}

h1 {
	text-align: center;
}

/* HOME PAGE */
.loginpic {
	background-image: url('../../../assets/frontpage-tinted.png');
	height: 721px;
	width: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	z-index: -10;
	position: absolute;
	text-align: center;
}

.title-link, .title-link:hover, .title-link:visited {
	text-decoration: none;
	color: white;
}

.forms {
	width: 50%;
	margin: 0px 0px 0px 30px;
}


/* hero image banner */
#frontpage-banner{
	background-size: 100% auto;
	background-position: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

#frontpage-banner-background {
	background-size: 100% auto;
	background-position: center;
	min-width: 100%;
	width: 100%;
	height: 100vh;
	padding: 0px;
	z-index: 10;
	position: absolute;
	opacity: 1;
}

#frontpage-banner-content {
	text-align: center;
	position: relative;
	z-index: 20;
	height: 100vh; /* match background */
	padding-top: 10%;
}

#primary-text-section {
	width: 100%;
	margin: 0px auto;
	position: relative;
}

#primary-text-section h1 {
	color: white;
	text-align: center;
	font-size: 150px;
}


#banner-button-container {
	position: relative;
	width: 75%;
	margin: 0px auto;
	top: 75px;
	text-align: center;
}

.button-container button {
	margin: 0px 20px;
	width:150px;
	background-color: #66CCFF;
	color: white;
}

.button-container button a {
	color: white;
}

@media only screen and ( max-width: 1200px )
{
	#frontpage-banner-background {
		height: 800px;
	}
	#frontpage-banner-content {
		height: 800px;
	}
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

  .navbar {
      margin-bottom: 0;
      background-color: #ffffff;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000000 !important;
	  font-size: 20px !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0000FF !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* FOOTER */

.footer {
    padding: 10px 0;
	bottom: 0px;
	left: 0px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
	padding-top: 10px;
    /*border-right: 1px solid #70726F;*/
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    /*border-left: 1px solid #70726F;*/
}

.footer a:hover {
    color: blue;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


